In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [4]:
# Full absolute path to the csv file
file_path = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\AwardsPlayers.csv'

# Read Excel file into a DataFrame
try:
    player_awards_df = pd.read_csv(file_path)
    print(player_awards_df.head(2))  # Display first few rows to verify
except FileNotFoundError:
    print("File not found at the specified location.")

#Read the data into a Pandas DataFrame
player_awards_df = pd.read_csv(file_path)
player_awards_df.head()

    playerID     award  year lgID note  pos
0  malonjo01  Art Ross  1917  NHL  NaN  NaN
1  cleghod01  Art Ross  1918  NHL  NaN  NaN

    playerID     award  year lgID note  pos
0  malonjo01  Art Ross  1917  NHL  NaN  NaN
1  cleghod01  Art Ross  1918  NHL  NaN  NaN
2  malonjo01  Art Ross  1919  NHL  NaN  NaN
3  lalonne01  Art Ross  1920  NHL  NaN  NaN
4  broadpu01  Art Ross  1921  NHL  NaN  NaN

In [5]:
# Get a brief summary 
player_awards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  2091 non-null   object
 1   award     2091 non-null   object
 2   year      2091 non-null   int64
 3   lgID      2091 non-null   object
 4   note      127 non-null    object
 5   pos       1231 non-null   object
dtypes: int64(1), object(5)
memory usage: 98.1+ KB

In [7]:
player_awards_df['playerID'].apply(type).value_counts()

playerID
<class 'str'>    2091
Name: count, dtype: int64

In [8]:
output_file = r'C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv'

In [28]:
# Drop the 'note' column if it exists
if 'note' in player_awards_df.columns:
            player_awards_df = player_awards_df.drop(columns=['note'])
            print("The 'note' column has been dropped.")
else:
            #cleaned_df = player_awards_df.copy() 
            print("The 'note' column does not exist in the DataFrame.")

player_awards_df.head()

The 'note' column does not exist in the DataFrame.

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  NaN  1271087529
1  cleghod01  Art Ross  1918  NHL  NaN  2351583696
2  malonjo01  Art Ross  1919  NHL  NaN  2558019028
3  lalonne01  Art Ross  1920  NHL  NaN  3770123917
4  broadpu01  Art Ross  1921  NHL  NaN   199245795

In [27]:
# Check for duplicates in 'playerID', 'award', and 'year' columns
duplicates = player_awards_df[player_awards_df.duplicated(subset=['playerID', 'award', 'year'], keep=False)]
        
        # If duplicates exist, drop them
if not duplicates.empty:
            player_awards_df = player_awards_df.drop_duplicates(subset=['playerID', 'award', 'year'], keep='first')
            print("Duplicates removed.")
else:
            #cleaned_df_no_duplicates = cleaned_df.copy()
            print("No duplicates found.")

player_awards_df.head()

No duplicates found.

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  NaN  1271087529
1  cleghod01  Art Ross  1918  NHL  NaN  2351583696
2  malonjo01  Art Ross  1919  NHL  NaN  2558019028
3  lalonne01  Art Ross  1920  NHL  NaN  3770123917
4  broadpu01  Art Ross  1921  NHL  NaN   199245795

In [31]:
# Fill blank cells in the 'pos' column with 'n/a'
player_awards_df['pos'].fillna('n/a', inplace=True)

player_awards_df.head()

    playerID     award  year lgID  pos    UniqueID
0  malonjo01  Art Ross  1917  NHL  n/a  1271087529
1  cleghod01  Art Ross  1918  NHL  n/a  2351583696
2  malonjo01  Art Ross  1919  NHL  n/a  2558019028
3  lalonne01  Art Ross  1920  NHL  n/a  3770123917
4  broadpu01  Art Ross  1921  NHL  n/a   199245795

In [32]:
# Define the new order of columns
new_column_order = ['UniqueID', 'playerID', 'award', 'year', 'lgID', 'pos']

# Reorder the columns in the DataFrame
player_awards_df = player_awards_df[new_column_order]

player_awards_df.head()

     UniqueID   playerID     award  year lgID  pos
0  1271087529  malonjo01  Art Ross  1917  NHL  n/a
1  2351583696  cleghod01  Art Ross  1918  NHL  n/a
2  2558019028  malonjo01  Art Ross  1919  NHL  n/a
3  3770123917  lalonne01  Art Ross  1920  NHL  n/a
4   199245795  broadpu01  Art Ross  1921  NHL  n/a

In [35]:
# Convert the "Year" column to numeric, coercing errors to NaN
player_awards_df['year'] = pd.to_numeric(player_awards_df['year'], errors='coerce')

# Filter out NaN values to keep only valid integers
player_awards_df = player_awards_df.dropna(subset=['year'])

# Convert the "Year" column back to integers (if needed)
player_awards_df['year'] = player_awards_df['year'].astype('int64')

# Now, player_awards_df contains only rows where the "Year" column has valid integer values

player_awards_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UniqueID  2091 non-null   int64
 1   playerID  2091 non-null   object
 2   award     2091 non-null   object
 3   year      2091 non-null   int64
 4   lgID      2091 non-null   object
 5   pos       2091 non-null   object
dtypes: int64(2), object(4)
memory usage: 98.1+ KB

In [33]:
# Save the cleaned DataFrame to a CSV file
try:
    player_awards_df.to_csv(output_file, index=False)
    print(f"Cleaned data saved to {output_file}")
except Exception as e:
    print(f"An error occurred while saving the cleaned data: {str(e)}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv

In [14]:
# Clean and save data
import pandas as pd

def clean_and_save_data(player_awards_df, output_file):

    #Cleans the input DataFrame by dropping the 'name' column, checking for duplicates in 'playerID', 'award', and 'year',
    #and dropping those duplicates. Saves the cleaned DataFrame to a CSV file.

    #Args:
        #df (pandas.DataFrame): Input DataFrame.
        #output_file (str): Path to save the cleaned CSV file.

    #Returns:
        #None

    try:
        # Drop the 'note' column if it exists
        if 'note' in player_awards_df.columns:
            player_awards_df = player_awards_df.drop(columns=['note'])
            print("The 'note' column has been dropped.")
        else:
            #cleaned_df = player_awards_df.copy() 
            print("The 'note' column does not exist in the DataFrame.")

        # Check for duplicates in 'playerID', 'award', and 'year' columns
        duplicates = player_awards_df[player_awards_df.duplicated(subset=['playerID', 'award', 'year'], keep=False)]
        
        # If duplicates exist, drop them
        if not duplicates.empty:
            player_awards_df = player_awards_df.drop_duplicates(subset=['playerID', 'award', 'year'], keep='first')
            print("Duplicates removed.")
        else:
            #cleaned_df_no_duplicates = cleaned_df.copy()
            print("No duplicates found.")

        # Save the cleaned DataFrame to a CSV file
        player_awards_df.to_csv(output_file, index=False)
        print(f"Cleaned data saved to {output_file}")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Example usage:
# Assuming you already have 'df' containing your data and 'output_file' specifying the output CSV file path
# clean_and_save_data(df, output_file)

In [19]:

# Call the clean_and_save_data function
clean_and_save_data(player_awards_df, output_file)

The 'note' column has been dropped.
No duplicates found.
Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv

In [ ]:
player_awards_df.head()

In [36]:
# Generate unique integer values for the UniqueID column within a specific range
start_id = 1
end_id = 1000  # Adjust the end_id value as needed
player_awards_df['UniqueID'] = range(start_id, start_id + len(player_awards_df))

# Display the DataFrame with the unique identifiers
print(player_awards_df)

      UniqueID   playerID                 award  year lgID  pos
0            1  malonjo01              Art Ross  1917  NHL  n/a
1            2  cleghod01              Art Ross  1918  NHL  n/a
2            3  malonjo01              Art Ross  1919  NHL  n/a
3            4  lalonne01              Art Ross  1920  NHL  n/a
4            5  broadpu01              Art Ross  1921  NHL  n/a
...        ...        ...                   ...   ...  ...  ...
2086      2087  gretzwa01  Second Team All-Star  1978  WHA    C
2087      2088  langeda01  Second Team All-Star  1978  WHA    D
2088      2089  lukowmo01  Second Team All-Star  1978  WHA   LW
2089      2090  macdobl01  Second Team All-Star  1978  WHA   RW
2090      2091  shmyrpa01  Second Team All-Star  1978  WHA    D

[2091 rows x 6 columns]

In [22]:
import numpy as np

# Create a new column for the unique identifier
player_awards_df['UniqueID'] = np.arange(1, len(player_awards_df) + 1)

# Iterate over each row and generate a unique identifier based on PlayerID, Award, and Year
for index, row in player_awards_df.iterrows():
    unique_id = hash((row['playerID'], row['award'], row['year']))
    player_awards_df.at[index, 'UniqueID'] = unique_id

# Convert the unique identifier to a positive value
player_awards_df['UniqueID'] = player_awards_df['UniqueID'].apply(lambda x: x & ((1 << 32) - 1))

# Display the DataFrame with the unique identifiers
print(player_awards_df)

       playerID                 award  year lgID note  pos    UniqueID
0     malonjo01              Art Ross  1917  NHL  NaN  NaN  1271087529
1     cleghod01              Art Ross  1918  NHL  NaN  NaN  2351583696
2     malonjo01              Art Ross  1919  NHL  NaN  NaN  2558019028
3     lalonne01              Art Ross  1920  NHL  NaN  NaN  3770123917
4     broadpu01              Art Ross  1921  NHL  NaN  NaN   199245795
...         ...                   ...   ...  ...  ...  ...         ...
2086  gretzwa01  Second Team All-Star  1978  WHA  NaN    C   923685446
2087  langeda01  Second Team All-Star  1978  WHA  NaN    D    16605587
2088  lukowmo01  Second Team All-Star  1978  WHA  NaN   LW  3102755038
2089  macdobl01  Second Team All-Star  1978  WHA  NaN   RW  1435529561
2090  shmyrpa01  Second Team All-Star  1978  WHA  NaN    D   786091709

[2091 rows x 7 columns]

C:\Users\lenar\AppData\Local\Temp\ipykernel_16232\3259925093.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '-7385884403861077591' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  player_awards_df.at[index, 'UniqueID'] = unique_id

In [37]:
player_awards_df.to_csv(output_file, index=False)
print(f"Cleaned data saved to {output_file}")

Cleaned data saved to C:\Users\lenar\OneDrive\Documents\Data _Bootcamp\Project_3\Project_3_NHL\Project_3_NHL\Project_3\Cleaned_Player_Awards.csv